<form [formGroup]="form" (ngSubmit)="consultBills($event)">
  <mat-card>
    <mat-card-header>
        <mat-card-title>Put de identification of client to consult the bill information</mat-card-title>           
    </mat-card-header>
    <mat-card-content>           
        <div class="row">
            <div class="col xs">
                <mat-form-field>
                    <input  [(ngModel)]="client_key" placeholder="Identification" formControlName="client_key" matInput >
                </mat-form-field>                    
            </div>
        </div>                                            
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">Consult</button> 
    </mat-card-actions>
  </mat-card> 
</form>  



<ng-container *ngIf="renderice; else elseBlock">  
    <mat-card> 
        <mat-card-header>
          <mat-card-title>INFORMACION DE USUARIO</mat-card-title>           
        </mat-card-header>
        <mat-card-content>
        <div>
            <ul>
                <li>Nombre: {{FullName}}</li>
                <li>Tipo de Identificacion: {{identificationtype}}</li>
                <li>Numero de identificacion: {{ID}}</li>
                <li>Numero de Celular: {{CellPhone}}</li>          
                <li>Direccion: {{Address}}</li>
                <li>Email: {{Email}}</li>          
            </ul>      
        </div>
        </mat-card-content>
          <mat-card-header>
            <mat-card-title>INFORMACION DE VEHICULO</mat-card-title>           
          </mat-card-header>
        <mat-card-content>
          <div>
            <ul>
                <li>Vehiculo: {{Marca}}</li>               
            </ul>  
          </div> 
        </mat-card-content>
          <mat-card-header>
            <mat-card-title>INFORMACION DE MANTENIMIENTO</mat-card-title>           
          </mat-card-header>
        <mat-card-content>
          <div>
            <ul>
                <li>Descripción: {{Description}}</li>
                <li>Fecha de Ingreso: {{maintenanceDate }}</li>    
                <li>Estado del mantenimiento: {{maintenanceState}}</li>                   
            </ul>  
          </div> 
        </mat-card-content> 
    </mat-card>
</ng-container>
<ng-template #elseBlock>
  <mat-card>
    <mat-card-content>
      <mat-card-title>{{message}}</mat-card-title>           
    </mat-card-content>
  </mat-card>
</ng-template>




   






